<h3>Confirm the following content!</h3>
<%= form_with(model: @post, url: posts_path, local: true) do |form| %>
  <%= form.hidden_field :content %>
  <p>Tweet: <%= @post.content %></p>
  <%= form.submit  "submit" %>
<% end %>

<%= form_with(model: @post, url: new_post_path, local: true, method: 'get') do |form| %>
  <%= form.hidden_field :content %>
  <%= form.submit "back", name: 'back' %>
<% end %>
